* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFEF1;
  --yellow: #FFB650;
  --orange: #FF9C51;
  --red: #EF6848;
  --black: #161F28;
}

header {
  background-color: var(--black);
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  position: relative;
  left: -950px;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  object-fit: contain;
}

.nav-link {
  font-size: 24px;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--black);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

body {
  background-color: var(--red);
  text-align: center;
}

.content-wrap {
  padding-top: 2rem;
  padding-bottom: 10rem;    /*Accomodate footer height*/
}

.container {
  width: 100%;
  height: 100%;
}
.bubbles {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /*adjust accordingly so animation is no cut off*/
  overflow: hidden;
  font-size: 2.5em; /*leaf icon*/
}
@keyframes animateBubbles {
  100% {
      opacity: 0;
      border-radius: 0;
      transform: translateY(0) rotate(0deg);
  }
  0% {
      opacity: 1;
      border-radius: 50%;
      transform: translateY(-1000px) rotate(720deg);
  }
}
.bubbles div {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  opacity: 0;
  background: var(--white);
  bottom: -150px;
  animation: animateBubbles 5s linear infinite;
}
.bubbles div:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  color: var(--orange);
}
.bubbles div:nth-child(2) {
  left: 5%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  color: maroon;
}
.bubbles div:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  animation-duration: 13s;
  color: var(--yellow);
}
.bubbles div:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  color: var(--orange);
}
.bubbles div:nth-child(5) {
  left: 65%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 13s;
  color: var(--orange);
}
.bubbles div:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  animation-duration: 9s;
  color: var(--yellow);
}
.bubbles div:nth-child(7) {
  left: 10%;
  width: 100px;
  height: 100px;
  animation-delay: 8s;
  color: maroon;
}
.bubbles div:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 0s;
  animation-duration: 7s;
  color: maroon;
}
.bubbles div:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 25s;
  color: var(--yellow);
}
.bubbles div:nth-child(10) {
  left: 90%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 6s;
  color: maroon;
}

.bubbles div:nth-child(11) {
  left: 95%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  color: var(--orange);
}
.bubbles div:nth-child(12) {
  left: 85%;
  width: 20px;
  height: 20px;
  animation-delay: 12s;
  animation-duration: 12s;
  color: maroon;
}
.bubbles div:nth-child(13) {
  left: 30%;
  width: 20px;
  height: 20px;
  animation-delay: 14s;
  animation-duration: 13s;
  color: var(--yellow);
}
.bubbles div:nth-child(14) {
  left: 60%;
  width: 60px;
  height: 60px;
  animation-delay: 10s;
  animation-duration: 18s;
  color: var(--orange);
}
.bubbles div:nth-child(15) {
  left: 35%;
  width: 60px;
  height: 60px;
  animation-delay: 10s;
  animation-duration: 13s;
  color: var(--orange);
}
.bubbles div:nth-child(16) {
  left: 25%;
  width: 110px;
  height: 110px;
  animation-delay: 13s;
  animation-duration: 9s;
  color: var(--yellow);
}
.bubbles div:nth-child(17) {
  left: 90%;
  width: 100px;
  height: 100px;
  animation-delay: 18s;
  color: maroon;
}
.bubbles div:nth-child(18) {
  left: 70%;
  width: 25px;
  height: 25px;
  animation-delay: 10s;
  animation-duration: 7s;
  color: maroon;
}
.bubbles div:nth-child(19) {
  left: 80%;
  width: 15px;
  height: 15px;
  animation-delay: 12s;
  animation-duration: 25s;
  color: var(--yellow);
}
.bubbles div:nth-child(20) {
  left: 10%;
  width: 50px;
  height: 50px;
  animation-delay: 10s;
  animation-duration: 6s;
  color: maroon;
}

footer {
  position:fixed;
  bottom:0;
  left:0;
  width: 100%;
  background: var(--black);
  min-height: 2.5rem;
  color: var(--white);
  padding: 20px 50px;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}

.item a {
  text-decoration: none;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #f0f9fe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border: 3px solid #f0f9fe;
  overflow: hidden;
}

.item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
}

.item:hover a::before {
  scale: 1 1;
}

.icon {
  font-size: 1.5rem;
  color: hsl(203, 92%, 8%);
  z-index: 2;
}

.item a:hover .icon {
  color: #fff;
}

.item:nth-child(1) {
  --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}

.item:nth-child(2) {
  --bg-color: #ff0000;
}

.item:nth-child(3) {
  --bg-color: #1da1f2;
}

.item:nth-child(4) {
  --bg-color: #7785cc;
}

.item:nth-child(5) {
  --bg-color: black;
}

ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  justify-content: center;
}

p {
  font-family: verdana;
  font-size: 15px;
}