*
{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

:root {
    --white: #FFFEF1;
    --yellow: #FFB650;
    --orange: #FF9C51;
    --red: #EF6848;
    --black: #161F28;
}

header {
  position: relative;
  width: 100%;
  background: var(--black);
  height: 2em;
  color: var(--white);
  padding: 1.25rem 3.125rem;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //margin-top: -2%;
  margin-bottom: 5%;
}

header .navigationBar {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
header .navigationBar li {
  list-style: none;
}
header .navigationBar li a {
  font-size: 2em;
  color:var(--dark);
  margin: 0 10px;
  display: inline-block;
  transition: 0.2s;
}
header .navigationBar li a {
  font-size: 1.2em;
  color:var(--dark);
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
header .navigationBar li a:hover {
  opacity: 1;
  transform: scale(1.1, 1.1);
}
header .navigationBar li a.active {
  color: var(--red);
}

/*
.navigationBar {
  background-color: #003f7d;
  color: white;
}

.navigationBar li {
  padding-left: 50px;
  padding-right: 50px;
}

.navigationBar li a {
  text-decoration: none;
  text-align: center;
  color: white;
}

.navigationBar li:hover {
  background-color: black;
}

.navigationBar a:visited {
  color: inherit;
}
*/

body {
  background-color: var(--red);
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
}

h4 {
  font-size: 36px;
  justify-content: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  justify-content: center;
}

.item a {
  text-decoration: none;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #f0f9fe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border: 3px solid #f0f9fe;
  overflow: hidden;
}

.item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
}

.item:hover a::before {
  scale: 1 1;
}

.icon {
  font-size: 1.5rem;
  color: hsl(203, 92%, 8%);
  z-index: 2;
}

.item a:hover .icon {
  color: #fff;
}

.item:nth-child(1) {
  --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}

.item:nth-child(2) {
  --bg-color: #ff0000;
}

.item:nth-child(3) {
  --bg-color: #1da1f2;
}

.item:nth-child(4) {
  --bg-color: #7785cc;
}

.item:nth-child(5) {
  --bg-color: black;
}

p {
  margin-top: 1rem;
  font-size: 14px;
}

footer {
  position: relative;
  //bottom: 0;
  width: 100%;
  background: var(--black);
  min-height: 100px;
  color: var(--white);
  padding: 20px 50px;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}
