* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
}

:root {
  --white: #FFDEBE;
  --yellow: #FFDEBE;
  --orange: #E26454;
  --red: #B03626;
  --black: #161F28;
}

/*
B03626
E26454
FFDEBE
791A05
*/

.container {
  width: 100%;
  height: 100%;
}

.bubbles {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*adjust accordingly so animation is no cut off*/
  overflow: hidden;
  font-size: 2.5em;
  /*leaf icon*/
}

/* Mobile-specific styles for the bubbles */
@media (max-width: 768px) {
  .bubbles {
    height: 100%;
    /* Make sure the bubbles container height is 100% */
    overflow: hidden;
    /* Hide any overflowing bubbles */
  }

  .bubbles div {
    bottom: 0;
    /* Adjust this to control initial positioning for mobile */
  }
}

@keyframes animateBubbles {
  100% {
    opacity: 0;
    border-radius: 0;
    transform: translateY(0) rotate(0deg);
  }

  73% {
    opacity: 0;
    border-radius: 0;
  }

  0% {
    opacity: 1;
    border-radius: 50%;
    transform: translateY(-1000px) rotate(720deg);
  }
}

.bubbles div {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  opacity: 0;
  background: var(--black);
  bottom: -150px;
  animation: animateBubbles 5s linear infinite;
}

.bubbles div:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  color: var(--orange);
}

.bubbles div:nth-child(2) {
  left: 5%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  color: var(--yellow);
}

.bubbles div:nth-child(3) {
  left: 85%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  animation-duration: 13s;
  color: var(--yellow);
}

.bubbles div:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  color: var(--yellow);
}

.bubbles div:nth-child(5) {
  left: 65%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 13s;
  color: var(--orange);
}

.bubbles div:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  animation-duration: 9s;
  color: var(--yellow);
}

.bubbles div:nth-child(7) {
  left: 10%;
  width: 100px;
  height: 100px;
  animation-delay: 8s;
  color: var(--orange);
}

.bubbles div:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 0s;
  animation-duration: 7s;
  color: maroon;
}

.bubbles div:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 25s;
  color: var(--yellow);
}

.bubbles div:nth-child(10) {
  left: 90%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 6s;
  color: maroon;
}

.bubbles div:nth-child(11) {
  left: 95%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  color: var(--orange);
}

.bubbles div:nth-child(12) {
  left: 3.5%;
  width: 20px;
  height: 20px;
  animation-delay: 12s;
  animation-duration: 12s;
  color: maroon;
}

.bubbles div:nth-child(13) {
  left: 55%;
  width: 20px;
  height: 20px;
  animation-delay: 14s;
  animation-duration: 13s;
  color: var(--yellow);
}

.bubbles div:nth-child(14) {
  left: 60%;
  width: 60px;
  height: 60px;
  animation-delay: 10s;
  animation-duration: 18s;
  color: var(--orange);
}

.bubbles div:nth-child(15) {
  left: 35%;
  width: 60px;
  height: 60px;
  animation-delay: 10s;
  animation-duration: 13s;
  color: var(--orange);
}

.bubbles div:nth-child(16) {
  left: 30%;
  width: 110px;
  height: 110px;
  animation-delay: 13s;
  animation-duration: 9s;
  color: var(--yellow);
}

.bubbles div:nth-child(17) {
  left: 90%;
  width: 100px;
  height: 100px;
  animation-delay: 18s;
  color: maroon;
}

.bubbles div:nth-child(18) {
  left: 70%;
  width: 25px;
  height: 25px;
  animation-delay: 10s;
  animation-duration: 7s;
  color: maroon;
}

.bubbles div:nth-child(19) {
  left: 80%;
  width: 15px;
  height: 15px;
  animation-delay: 12s;
  animation-duration: 25s;
  color: var(--yellow);
}

.bubbles div:nth-child(20) {
  left: 15%;
  width: 50px;
  height: 50px;
  animation-delay: 10s;
  animation-duration: 6s;
  color: maroon;
}


header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--black);
  border-bottom: 4px solid var(--red);
  height: 4rem;
  color: var(--white);
  padding: 1.25rem 3.125rem;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensures the header stays above other content */
}

header .logo {
  margin-right: auto;
  /* Pushes the logo to the left */
  font-size: 1.5rem;
  /* Adjust font size as needed */
  color: var(--red);
  /* Adjust color if needed */
}

header .logo2 {
  /*To ensure content is centered*/
  margin-left: auto;
  /* Pushes the logo to the left */
  font-size: 1.5rem;
  /* Adjust font size as needed */
  color: var(--red);
  /* Adjust color if needed */
  opacity: 0%;
}

header .navigationBar {
  display: flex;
  list-style: none;
  flex-grow: 1;
  /*To ensure content is centered*/
  margin: 0 auto;
  /* Centers the navigation bar */
  padding: 0;
}

header .navigationBar li {
  margin: 0 10px;
  /* Space between items */
}

header .navigationBar li a {
  font-size: 1.2em;
  color: var(--white);
  margin: 0 10px;
  display: inline-block;
  transition: 0.2s;
  text-decoration: none;
  opacity: 0.85;
}

header .navigationBar li a:hover {
  opacity: 1;
  transform: scale(1.1);
}

header .navigationBar li a.active {
  color: var(--red);
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  header {
    height: 4rem;
    /* Adjust height for mobile */
    padding: 0.5rem 1rem;
    /* Adjust padding for mobile */
    font-size: 10px;
    /* Adjust font size for mobile */
  }

  header .logo {
    font-size: 1.2rem;
    /* Adjust font size for logo on mobile */
    /*opacity: 0%;  /* Add this when other pages are done */
  }

  header .navigationBar li {
    margin: 0 -10px;
    /* Space between items */
  }

  header .navigationBar li a {
    font-size: 1rem;
    /* Adjust font size for navigation links on mobile */
  }
}


/*
.navigationBar {
  background-color: #003f7d;
  color: white;
}

.navigationBar li {
  padding-left: 50px;
  padding-right: 50px;
}

.navigationBar li a {
  text-decoration: none;
  text-align: center;
  color: white;
}

.navigationBar li:hover {
  background-color: black;
}

.navigationBar a:visited {
  color: inherit;
}
*/

body {
  background-color: var(--black);
  text-align: center;
  height: 100%;
  padding-top: 5rem;
  margin: 0;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: var(--red);
  font-size: 36px;
  justify-content: center;
}

h3 {
  color: var(--orange);
  font-size: 25px;
  justify-content: center;
}

h4 {
  color: var(--white);
  font-size: 20px;
  padding: 1rem;
}

h5 {
  color: var(--white);
  font-size: 15px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

ul {
  display: flex;
  list-style: none;
  gap: 2.0rem;
  justify-content: center;
}

.intro {
  background-color: #0f171f;
}

.upcoming-events-section {
  background-color: #0f171f;
}

/*
.showcase-section {
  background-color: #0f171f;
}
*/

.about-section {
  background-color: #0f171f;
}

/*
.calendar-section {
  background-color: #0f171f;
}
*/ 

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: auto;
  /* Set the desired width */
  height: auto;
  /* Set the desired height */
  position: relative;
}

.play-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.play-button {
  background-color: var(--black);
  color: var(--orange);
  border: 2px solid var(--orange);
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.1s ease, color 0.1s ease;
}

.play-button:hover {
  background: var(--orange);
  color: var(--black);
}

img {
  /*border-radius: 50%; */
  padding: 10px;
  width: 500px;
  /* Adjusts the width to 50% of the parent container */
  height: auto;
  /* Maintains the aspect ratio */
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.officers {
  display: block;
  display: inline-block;
  padding: 1rem;
  width: 15rem;
}

.aboutImage img {
  padding: 10px;
  width: 100%;
  height: auto;
}

.item a {
  text-decoration: none;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #f0f9fe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border: 3px solid #f0f9fe;
  overflow: hidden;
}

.item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
}

.item:hover a::before {
  scale: 1 1;
}

/*For MavEngage*/
.itemME a {
  text-decoration: none;
  width: 6rem;
  height: 2.4rem;
  background-color: #f0f9fe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border: 3px solid #f0f9fe;
  overflow: hidden;
}

.itemME a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
}

.itemME:hover a::before {
  scale: 1 1;
}

.itemME a:hover {
  background: linear-gradient(to bottom right, #357eec, #ff9101);
}

.icon {
  font-size: 1.5rem;
  color: hsl(203, 92%, 8%);
  z-index: 2;
}

.item a:hover .icon {
  color: #fff;
}

.item:nth-child(1) {
  --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}

.item:nth-child(2) {
  --bg-color: #ff0000;
}

.item:nth-child(2) {
  --bg-color: #ff0000;
}

.item:nth-child(4) {
  --bg-color: #7785cc;
}

.item:nth-child(5) {
  --bg-color: black;
}

p {
  margin-top: 1rem;
  font-size: 14px;
}

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.video-container {
  width: 800px;
  /* Set the desired width */
  height: 450px;
  /* Set the desired height */
  position: relative;
  border: 5px solid var(--orange);
  /* Add border directly to the container */
  border-radius: 5px;
  /* Rounded corners */
  box-sizing: border-box;
  /* Ensure border is included in the container's width/height */
}

@media (max-width: 768px) {
  .video-container {
    width: 400px;
    /* Adjust the width as needed */
    height: 200px;
    /* Adjust the height as needed */
  }
}

/* Video styling */
.video-container video {
  width: 100%;
  /* Fill the width of the container */
  height: 100%;
  /* Fill the height of the container */
  object-fit: cover;
  /* Ensure the video covers the container */
}

.arrow-btn {
  margin: 0 20px;
  /* Adjusts space between the video and arrow buttons */
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.arrow-btn:focus {
  outline: none;
}

.calendar iframe {
  width: 800px;
  /* Adjust the width as needed */
  height: 450px;
  /* Adjust the height as needed */
}

@media (max-width: 768px) {
  .calendar iframe {
    width: 400px;
    /* Adjust the width as needed */
    height: 350px;
    /* Adjust the height as needed */
  }
}

footer {
  position: relative;
  /* or 'static' depending on your layout needs */
  width: 100%;
  background: var(--black);
  border-top: 4px solid var(--red);
  min-height: 100px;
  color: var(--red);
  padding: 20px 50px;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}